<div class="container">
  <div class="col-6 mt-5 offset-3 card">
  <h2 class="to_change_h2" style="text-align: center">Sign up</h2>
    <div class= "info_box">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, placeholder: "email@email.com"%>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "your password" %>
          <%= f.input :password_confirmation, required: true, placeholder: "your password" %>
        </div>
         <label class="question" for="question_1"><h3>Fusce dapibus diam augue, sit amet pretium sapien vestibulum ac?</h3></label>
        <div class="form-inputs">
          <div class="question-choices">
            <div class="question-choice">
                <input hidden type="radio" name="question_1_answer" id="question_1_1" value="1"><label for="question_1_1">Lorem Ipsum</label>
            </div>
            <div class="question-choice">
                <input hidden type="radio" name="question_1_answer" id="question_1_2" value="2"><label for="question_1_2">Lorem Ipsum</label>
            </div>
            <div class="question-choice">
                <input hidden type="radio" name="question_1_answer" id="question_1_3" value="3"><label for="question_1_3">Lorem Ipsum</label>
            </div>
            <div class="question-choice">
                <input hidden type="radio" name="question_1_answer" id="question_1_4" value="4"><label for="question_1_4">Lorem Ipsum</label>
            </div>
            <div class="question-choice">
                <input hidden type="radio" name="question_1_answer" id="question_1_5" value="5"><label for="question_1_5">Lorem Ipsum</label>
            </div>
            <div class="question-choice">
                <input hidden type="radio" name="question_1_answer" id="question_1_6" value="6"><label for="question_1_6">Lorem Ipsum</label>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "Log_in-btn", style: "margin-top: 1.3rem;"%>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>

