<div class="container">
  <div class="col-6 mt-5 offset-3 card">
  <h2 class="to_change_h2" style="text-align: center">Sign up</h2>
    <div class= "info_box">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true, placeholder: "email@email.com"%>
          <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "••••••" %>
          <%= f.input :password_confirmation, required: true, placeholder: "••••••" %>
          <label class="radio_buttons optional mt-3">Gender</label>
          <div class="input form-check form-check-inline radio_buttons optional user_gender field_without_errors">
          <input type="hidden" name="user[gender]" value="">
          <label for="user_gender_1">
          <input class="radio_buttons optional mr-3 ml-3" type="radio" value="1" name="user[gender]" id="user_gender_1">Woman</label>
          <label for="user_gender_2"><input class="radio_buttons optional mr-3 ml-3" type="radio" value="2" name="user[gender]" id="user_gender_2">Man</label>
          <label for="user_gender_0"><input class="radio_buttons optional mr-3 ml-3" type="radio" value="0" checked="checked" name="user[gender]" id="user_gender_0">Other</label>
          </div>
        </div>
         <label class="question" for="question"><h2 style="font-size: 1.2rem" class="mt-5">What do you already own or do ?</h2></label>
        <div class="form-inputs">
          <div class="question-choices">
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_1]" id="question_1" value="3"><p for="question_1">I own a flask</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_2]" id="question_2" value="3"><p for="question_2">I don't own a car</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_3]" id="question_3" value="3"><p for="question_3">I use composting toilet</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_4]" id="question_4" value="3"><p for="question_4">I use rainwater</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_5]" id="question_5" value="3"><p for="question_5">With my own boxes to supermarkets</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_6]" id="question_6" value="3"><p for="question_6">Not buy anymore plastic bag</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_7]" id="question_7" value="3"><p for="question_7">Offer presents without packaging</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_8]" id="question_8" value="3"><p for="question_8">I have my own compost</p>
            </div>
            <div class="question-choice">
                <input hidden type="checkbox" name="question[question_answer_9]" id="question_9" value="3"><p for="question_9">I use no more plastic bottles</p>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "Log_in-btn", style: "margin-top: 1.3rem;"%>
        </div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>

