<div class="container">
  <div class="col-6 mt-5 offset-3 card">
  <h2 class="log_in_h2" style="text-align: center">Forgot your password?</h2>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>
      <div class= "forgot_pass_box">
        <%= f.input :email, required: true, autofocus: true, placeholder: "enter email to recover your password" %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "green-btn" %>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>

