<div class="col-12">
  <div class="card card-welcome-dashboard">
    <div class="row">
      <div class="col-7">
        <h1 class="mb-3" style="font-size: 2rem">Ready to save the world, SuperZero?</h1>
        <div class="row">
          <div class="col-4">
            <%= image_tag("superwoman.svg", :style => 'max-height: 10rem') %>
          </div>
          <div class="col-8">
          <h2>Level: 1</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
              75/100 XP
              </div>
            </div>
            <p>Only <strong>25 XP</strong> left before reaching the next level !</p>
            <div class="row">
              <div class="col-6">
                <h2 style="font-size: 1rem; text-align: justify;">Amount of plastic saved:</h2>
                <div class="row">
                  <div class="col-3">
                    <%= image_tag("plastic.svg", :style => 'max-height: 2rem') %>
                  </div>
                  <div class="col-9">
                    <h3 style="font-size: 1.75rem; text-align: right;">492kg</h3>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h2 style="font-size: 1rem; text-align: justify;">Number of trees planted:</h2>
                <div class="row">
                  <div class="col-3">
                    <%= image_tag("trees.svg", :style => 'max-height: 2rem') %>
                  </div>
                  <div class="col-9">
                    <h3 style="font-size: 1.75rem; text-align: right;">127 trees</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-8">
      <div class="card card-dashboard">
        <h2>Weekly Challenges</h2>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-community-dashboard">
        <h2 style="color:white;">Results of all the SuperZeroes</h2>
      </div>
    </div>
  </div>
</div>

<% @categories.each do |category| %>
<p><%= link_to "#{category.name}", category_challenges_path(category) %></p>
<% end %>

<% @weekly_challenges.each do |wchallenge| %>
  <p> <%= @user.username %> </p>
  <p> <%= wchallenge.challenge.name  %> </p>
  <p> <%= wchallenge.challenge.description %> </p>
  <p> <%= wchallenge.status_challenge %></p>
  <% if wchallenge.status_challenge == false %>
    <%= link_to "Challenge done", weekly_challenge_path(wchallenge), method: 'patch' %>
  <% end %>
<% end %>

<p>
  <%= @user.username %>
  <%= @user.email %>
  <%= @user.level %>
  <%= @user.xp %>
  <%= @user.gender %>
  <%= @user.address %>
  <%= @user.tree_count %>
</p>
