
<% @weekly_challenges.each do |challenge| %>
  <p> <%= @user.username %> </p>
  <p> <%= challenge.challenge.name  %> </p>
  <p> <%= challenge.challenge.description %> </p>
  <%= link_to "Challenge done", update_challenge_path(challenge), method: 'patch' %>
<% end %>

<%= @user.username %>
<%= @user.email %>
<%= @user.level %>
<%= @user.xp %>
<%= @user.gender %>
<%= @user.address %>
<%= @user.tree_count %>

