<div class="col-12">
  <div class="card card-welcome-dashboard">
    <div class="row">
      <div class="col-7">
        <h1 class="mb-3" style="font-size: 2rem">Ready to save the world, SuperZero?</h1>
        <div class="row">
          <div class="col-4">
            <% if @user.gender == 1 %>
              <%= image_tag("superwoman.svg", :style => 'max-height: 10rem') %>
            <% else %>
              <%= image_tag("superman.svg", :style => 'max-height: 10rem') %>
            <% end %>
          </div>
          <div class="col-8">
            <div id="level_info">
            <h2><span>Level:</span>
            <span id='level'><%= @user.level %></span></h2>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= @user.xp %>" aria-valuemin="0" aria-valuemax="<%= @max_xp %>" style="width: <%= ((@user.xp.to_f / @max_xp.to_f)*100).to_i %>%">
                  <%= @user.xp %>/<%= @max_xp %> XP
                </div>
              </div>
              <p>Only <strong id="xp-left"><%= @max_xp - @user.xp %> XP</strong> left before reaching the next level !</p>
              <div class="row">
                <div class="col-6">
                  <h2 style="font-size: 1rem; text-align: justify;">Amount of plastic saved:</h2>
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag("plastic.svg", :style => 'max-height: 2rem') %>
                    </div>
                    <div class="col-9">
                      <h3 style="font-size: 1.75rem; text-align: right;"><%= @user_plastic %>kg</h3>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h2 style="font-size: 1rem; text-align: justify;">Number of trees planted:</h2>
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag("trees.svg", :style => 'max-height: 2rem') %>
                    </div>
                    <div class="col-9">
                      <h3 style="font-size: 1.75rem; text-align: right;"><%= @user.tree_count %> trees</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-7">
      <div class="card card-dashboard">
        <h2>Challenges</h2>
        <div class="challenges">
          <% @weekly_challenges.each do |challenge| %>
            <% if challenge.status_challenge == false %>
              <div data-challenge-id="<%= challenge.challenge.id %>">
                <div class="notification">
                  <div class="col-8">
                    <div class="notification-content">
                      <p><small style="font-size: 1rem;"><%= challenge.challenge.name  %></small></p>
                      <% if challenge.challenge.size == false %>
                      <p><small style="color: #91a5b9">Experience: <%= "25 xp" %> | Plastic: <%= challenge.challenge.plastic  %> kg</small></p>
                      <% else %>
                      <p><small style="color: #91a5b9">Experience: <%= "50 xp" %> | Plastic: <%= challenge.challenge.plastic  %> kg</small></p>
                      <% end %>
                      <p><%= challenge.challenge.short_description %></p>
                      <p> <%= link_to "See details", challenge_path(challenge.challenge) %></p>
                    </div>
                  </div>
                    <div class="col-4">
                      <div class="notification-actions justify-content-center">
                          <% if challenge.status_challenge == false %>
                            <%= button_to "Mark as done", challenge, class: "btn mark-as-done-btn", disabled: false, method: :put, remote: true %>
                          <% end %>
                      </div>
                    </div>
                  </div>
              </div>
            <% end %>
          <% end %>
          <%= link_to "The team", thanks_path %>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card card-community-dashboard">
        <h2 class="mb-3" style="color:white;">Results of all the SuperZeroes</h2>
        <div class="row">
          <div class="col-6">
            <h2 style="font-size: 1rem; text-align: justify; color: #c1edcc;">Total saved plastic:</h2>
            <div class="row">
              <div class="col-3">
                <%= image_tag("plastic2.svg", :style => 'max-height: 2rem; fill: white') %>
              </div>
              <div class="col-9">
                <h3 style="font-size: 1.75rem; text-align: right;"> <span class="plastic-counter"><%= @total_plastic %></span>kg</h3>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h2 style="font-size: 1rem; text-align: justify; color: #c1edcc;">Total planted trees:</h2>
            <div class="row">
              <div class="col-3">
                <%= image_tag("trees2.svg", :style => 'max-height: 2rem; fill: white') %>
              </div>
              <div class="col-9">
                <h3 style="font-size: 1.75rem; text-align: right;"><span class="tree-counter"><%= @total_trees %></span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card card-dashboard" style="margin-top: 2rem; margin-bottom: 2rem;">
    <h2 class="mb-3">Categories</h2>
    <ul class="list-inline tabs-underlined mb-3">
      <li>
        <a href="#" class="tab-underlined active">All the challenges</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-briefcase"></i> Work</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-laugh-beam"></i> Leasure</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-user-friends"></i> Social Life</a>
      </li>
    </ul>
    <div class="row mt-3 cards-category">
      <% @categories.each do |category| %>
        <%= link_to category_challenges_path(category) do %>
          <div class="card card-category">
            <div class="row">
              <%= cl_image_tag category.photo, height: 60, width: 60, crop: :fill %>
            </div>
              <p><%="#{category.name}"%></p>
              <p><%= category.challenges.where(size: false).count %> challenge(s) left</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <% @successes.each do |success| %>
    <p> <%= success.achievement.name %> </p>
    <%= cl_image_tag success.achievement.photo %>
  <% end %>
</div>
