<div class="col-12">
  <div class="card card-welcome-dashboard">
    <div class="row">
      <div class="col-7">
        <h1 class="mb-3" style="font-size: 2rem">Ready to save the world, SuperZero?</h1>
        <div class="row">
          <div class="col-4">
            <%= image_tag("superwoman.svg", :style => 'max-height: 10rem') %>
          </div>
          <div class="col-8">
          <h2>Level: 1</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
              75/100 XP
              </div>
            </div>
            <p>Only <strong>25 XP</strong> left before reaching the next level !</p>
            <div class="row">
              <div class="col-6">
                <h2 style="font-size: 1rem">Amount of plastic saved:</h2>
                <div class="row">
                  <div class="col-3">
                    <%= image_tag("plastic.svg", :style => 'max-height: 2rem') %>
                  </div>
                  <div class="col-9" style="text-align: right">
                    <h3 style="font-size: 1.75rem">492kg</h3>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h2 style="font-size: 1rem">Number of trees planted:</h2>
                <div class="row">
                  <div class="col-3">
                    <%= image_tag("trees.svg", :style => 'max-height: 2rem') %>
                  </div>
                  <div class="col-9" style="text-align: right">
                    <h3 style="font-size: 1.75rem">127 trees</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-8">
      <div class="card card-dashboard">
        <div class="row">
        prout
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card card-dashboard">
        <div class="row">
        prout
        </div>
      </div>
    </div>
  </div>
</div>

<% @weekly_challenges.each do |challenge| %>
  <p> <%= @user.username %> </p>
  <p> <%= challenge.challenge.name  %> </p>
  <p> <%= challenge.challenge.description %> </p>
  <%= link_to "Challenge done", weekly_challenge_path(challenge), method: 'patch' %>
<% end %>

<p>
  <%= @user.username %>
  <%= @user.email %>
  <%= @user.level %>
  <%= @user.xp %>
  <%= @user.gender %>
  <%= @user.address %>
  <%= @user.tree_count %>
</p>
