<div class="col-12">
  <div class="card card-welcome-dashboard">
    <div class="row">
      <div class="col-7">
        <h1 class="mb-3" style="font-size: 2rem">Ready to save the world, SuperZero?</h1>
        <div class="row">
          <div class="col-4">
            <% if @user.gender == 1 %>
              <%= image_tag("superwoman.svg", :style => 'max-height: 10rem') %>
            <% else %>
              <%= image_tag("superman.svg", :style => 'max-height: 10rem') %>
            <% end %>
          </div>
          <div class="col-8">
            <div id="level_info">
            <h2 style="line-height: 2em;"><span>Level:</span>
            <span id='level'><%= @user.level %></span></h2>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="<%= @user.xp %>" aria-valuemin="0" aria-valuemax="<%= @max_xp %>" style="width: <%= ((@user.xp.to_f / @max_xp.to_f)*100).to_i %>%">
                  <%= @user.xp %>/<%= @max_xp %> XP
                </div>
              </div>
              <p>Only <strong id="xp-left"><%= @max_xp - @user.xp %> XP</strong> left before reaching the next level !</p>
              <div class="row">
                <div class="col-6">
                  <h2 style="font-size: 1rem; text-align: justify;">Amount of plastic saved:</h2>
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag("plastic.svg", :style => 'max-height: 2rem') %>
                    </div>
                    <div class="col-9">
                      <h3 style="font-size: 1.75rem; text-align: right;"><span id="plastic-user-counter"><%= @user_plastic %></span>kg</h3>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <h2 style="font-size: 1rem; text-align: justify;">Number of trees planted:</h2>
                  <div class="row">
                    <div class="col-3">
                      <%= image_tag("trees.svg", :style => 'max-height: 2rem') %>
                    </div>
                    <div class="col-9">
                      <h3 style="font-size: 1.75rem; text-align: right;"><span id="tree-user-counter"><%= @user.tree_count %></span> trees</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="row">
    <div class="col-7">
      <div class="card card-dashboard" style="height:100%">
        <h2>Challenges</h2>
        <%= link_to "Suggest a challenge", suggest_path %>
        <div class="challenges">
          <% if @weekly_challenges.any? %>
            <% @weekly_challenges.each do |challenge| %>
              <% if challenge.status_challenge == false %>
                <% if challenge.challenge.size == false %>
                  <div data-challenge-id="<%= challenge.challenge.id %>">
                    <div class="notification">
                      <div class="row row-center">
                        <div class="col-8">
                          <div class="notification-content justify-content-center">
                            <p><small style="font-size: 1rem;"><%= challenge.challenge.name  %></small></p>
                            <p><small style="color: #91a5b9">Experience: <%= "25 xp" %> | Plastic: <%= challenge.challenge.plastic  %> kg</small></p>
                            <p><%= challenge.challenge.short_description %></p>
                            <p> <%= link_to "See details", challenge_path(challenge.challenge) %></p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="notification-actions justify-content-center">
                            <%= button_to challenge, class: "btn mark-as-done-btn center", disabled: false, method: :put, remote: true do %>
                              Mark as done
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <div data-challenge-id="<%= challenge.challenge.id %>">
                    <div class="notification" id="big-challenge-notification">
                      <div class="row row-between">
                        <div>
                          <div><p><small style="font-size: 1rem;"><%= challenge.challenge.name %></small></p></div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="badge badge-primary badge-notif">Challenge of the Week</div>
                          </div>
                        </div>
                      </div>
                      <div class="row row-center">
                        <div class="col-8">
                          <div class="notification-content justify-content-center">
                            <p><small style="color: #91a5b9">Experience: <%= "50 xp" %> | Plastic: <%= challenge.challenge.plastic  %> kg | Tree : 1</small></p>
                            <p><%= challenge.challenge.short_description %></p>
                            <p> <%= link_to "See details", challenge_path(challenge.challenge) %></p>
                          </div>
                        </div>
                        <div class="col-4">
                          <div class="notification-actions">
                              <% if challenge.status_challenge == false %>
                                <%= button_to challenge, class: "btn mark-as-done-btn center", id: "big-challenge", disabled: false, method: :put, remote: true do %>
                                  Mark as done
                                <% end %>
                              <% end %>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="row row-center">
                            <div id="countholder">
                              <div><span class="days" id="days"></span><div class="smalltext">Days</div></div>
                              <div><span class="hours" id="hours"></span><div class="smalltext">Hours</div></div>
                              <div><span class="minutes" id="minutes"></span><div class="smalltext">Minutes</div></div>
                              <div><span class="seconds" id="seconds"></span><div class="smalltext">Seconds</div></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <%end %>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card card-community-dashboard">
        <h2 class="mb-3" style="color:white;">Results of all the SuperZeroes</h2>
        <div class="row">
          <div class="col-6">
            <h2 style="font-size: 1rem; text-align: justify; color: #c1edcc;">Total saved plastic:</h2>
            <div class="row">
              <div class="col-3">
                <%= image_tag("plastic2.svg", :style => 'max-height: 2rem; fill: white') %>
              </div>
              <div class="col-9">
                <h3 style="font-size: 1.75rem; text-align: right;"> <span class="plastic-counter"><%= @total_plastic %></span>kg</h3>
              </div>
            </div>
          </div>
          <div class="col-6">
            <h2 style="font-size: 1rem; text-align: justify; color: #c1edcc;">Total planted trees:</h2>
            <div class="row">
              <div class="col-3">
                <%= image_tag("trees2.svg", :style => 'max-height: 2rem; fill: white') %>
              </div>
              <div class="col-9">
                <h3 style="font-size: 1.75rem; text-align: right;"><span class="tree-counter"><%= @total_trees %></span></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card card-dashboard badges-card" style="margin-top:2rem;">
        <h2>Success Badges</h2>
          <% if @successes.any? %>
            <div class="slider prout" style="width: 100%" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
              <% @successes.each do |success| %>
                <div class="slider_container">
                  <div class="text-center">
                    <%= cl_image_tag success.achievement.photo, :class => "img_slider" %>
                    <p class="slider_text"><%= success.achievement.name %></p>
                  </div>
                </div>
              <% end %>
            </div>
          <% else %>
            <p>No badges yet :(</p>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card card-dashboard" style="margin-top: 2rem; margin-bottom: 2rem;">
    <h2 class="mb-3">Categories</h2>
    <ul class="list-inline tabs-underlined mb-3">
      <li>
        <a href="#" class="tab-underlined active">All the challenges</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-home"></i> Home</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-briefcase"></i> Work</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-laugh-beam"></i> Leasure</a>
      </li>
      <li>
        <a href="#" class="tab-underlined"><i class="fas fa-user-friends"></i> Social Life</a>
      </li>
    </ul>
    <div class="row mt-3 cards-category">
      <% @categories.each do |category| %>
        <% elements = @user_challenges_not.select do |challenge| %>
          <% challenge.challenge.category == category %>
        <% end %>
        <%= link_to category_challenges_path(category) do %>
          <div class="card card-category">
            <div class="row">
              <%= cl_image_tag category.photo, height: 100, width: 100, crop: :fill %>
            </div>
            <div class="row row-center mt-2" style="height: 50px;">
              <p style="position: relative"><%="#{category.name}"%></p>
            </div>
            <div class="row mt-3">
              <div class="progress-category" style="width: 100px; position: relative">
                <% total_challenges = @small_challenges.where(category: category).size == 0 ? 1 : @small_challenges.where(category: category).size %>
                <% left_challenges = @small_challenges_not.where(category: category).size %>
                <% done_challenges = total_challenges - left_challenges %>
                <% width_challenges_bar = (done_challenges.to_f / total_challenges.to_f) * 100 %>
                <div class="progress-bar bg-category" role="progressbar" style="width: <%= width_challenges_bar %>%" aria-valuenow=" <%= done_challenges %> " aria-valuemin="0" aria-valuemax=" <%= total_challenges %> "></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to "The team", thanks_path %>
</div>
