<div class="col-12">
  <div class="card card-welcome-dashboard">
    <div class="row">
      <div class="col-6">
        <h1 class="mb-3" style="font-size: 2rem">Ready to save the world, SuperZero?</h1>
        <div class="row">
          <div class="col-4">
            <%= image_tag("superwoman.svg", :style => 'max-height: 10rem') %>
          </div>
          <div class="col-8">
          <h2>Level: 1</h2>
            <div class="progress mb-3">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
              75/100 XP
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <h3>Amount of plastic saved:</h3>
              </div>
              <div class="col-6">
                <h3>Number of trees planted:</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% @categories.each do |category| %>
<p><%= category.name %></p>
<% end %>

<% @weekly_challenges.each do |challenge| %>
  <p> <%= @user.username %> </p>
  <p> <%= challenge.challenge.name  %> </p>
  <p> <%= challenge.challenge.description %> </p>
  <%= link_to "Challenge done", weekly_challenge_path(challenge), method: 'patch' %>
<% end %>

<p>
  <%= @user.username %>
  <%= @user.email %>
  <%= @user.level %>
  <%= @user.xp %>
  <%= @user.gender %>
  <%= @user.address %>
  <%= @user.tree_count %>
</p>
