<div class="bg--gradient">
  <div class="hero hero--full hero--bg--img">
    <div class="hero__wrapper">
      <div class="hero__text">
        <h1 class="hero__title">The very first app that brings you on the <span class="underlined">Way to Zero</span> waste.</h1>
        <div class="hero__subtext">
          <div class="hero__p">
            <p>Because we believe in the power of habits, Way To Zero aims to encourage everyone to adopt a zero-waste lifestyle at their own speed through fun and motivating challenges.</p>
            <div class="mail-form-container">
              <div class="mail-form" id="button1">
                <form class="singular-form" action="https://waytozero.us4.list-manage.com/subscribe/post?u=82e07f35094db3ac030eaec10&amp;id=f4c26eaa14" method="POST">

                  <button class="shown trigger" type="button">Make this project a reality !</button>

                  <div class="input-container">
                      <input type="email" class="placeholder "value="" name="EMAIL" placeholder="Enter your best email address" required>
                      <button type="button"class="email-button">Show your interest</button>
                  </div>

                  <div class="success">Thank you!</div>

                </form>
              </div>
              <div class="email-warner">
                  <p></p>
              </div>
            </div>
          </div>
          <%= image_tag("waste.png") %>
        </div>
      </div>
      <svg class="hero__curve" viewBox="0 0 1620 228" xmlns="http://www.w3.org/2000/svg">
          <path d="m1619.44517.35433528c-399.39777 223.02017072-694.714626 278.49386172-885.950558 166.42107172-181.341926-106.2744605-391.865473-161.74815116-631.57064-166.42107177h-101.923972v227.64566477h1620v-227.64566477h-.5547z"></path>
      </svg>
    </div>
  </div>
</div>
<div class="concepts">
  <div class="concept">
    <%= image_tag("superwoman.png", :class=>'concept-icon') %>
    <p>Take on ecological challenges</p>
  </div>
  <div class="separator"></div>
  <div class="concept">
    <%= image_tag("fatherhood.png", :class=>'concept-icon') %>
    <p>Change your lifestyle step by step</p>
  </div>
  <div class="separator"></div>
  <div class="concept">
    <%= image_tag("excalibur.png", :class=>'concept-icon') %>
    <p>Give the best of yourself</p>
  </div>
</div>
<div class="bg--white">
  <div class="hero__wrapper">
    <div class="home__text__container" style="margin-top:50px">
      <h2 class="home__h2">Concept</h2>
      <div class="home__text__sub__container" id="container1">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player
              src="https://assets5.lottiefiles.com/packages/lf20_h9fcK1.json"  background="transparent"  class="home__svg__item" speed="1" loop  autoplay >
          </lottie-player>
        <div class="home__text__item">
          <ul>
            <li>
              <h3 class="home__h3">Become a driver of change</h3>
              <p>Don't be paralyzed anymore by the magnitude of the problem that humanity is facing at the moment. Make positive contributions to the planet through Way To Zero and become a better person in a better world !</p>
            </li>
            <li>
              <h3 class="home__h3">Improve your waste management</h3>
              <p>It is perfectly normal not to know where to start. With a kind and non-judgmental approach, Way To Zero guarantees to support each of its users step by step, regardless of whether they are beginners or advanced in zero waste.</p>
            </li>
            <li>
              <h3 class="home__h3">Motivate you through gamification</h3>
              <p>Overcome challenges at your own pace with progressive levels of difficulty. Move into action and see your efforts immediately rewarded: gain experience, collect badges and keep an eye on how much plastic you've saved !</p>
            </li>
          </ul>
          <div class="mail-form-container">
            <div class="mail-form" id="button2">
              <form class="singular-form">

                <button class="shown trigger" type="button">Make this project a reality !</button>

                <div class="input-container">
                    <input type="email" value="" name="EMAIL" placeholder="Enter your best email address" required>
                    <button type="button">Show your interest</button>
                </div>

                <div class="success">Thank you!</div>

              </form>
            </div>
            <div class="email-warner">
                <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__wrapper">
    <div class="home__text__container">
      <h2 class="home__h2">Mission</h2>
      <div class="home__text__sub__container" id="container2">
        <div class="home__text__item">
          <ul>
            <li>
              <h3 class="home__h3">Making the transition to action easier</h3>
              <p>The crucial step is to take action. And it must be supported in each stage. We have to start somewhere, it is better to have a lot of imperfect people in their waste management than a few people who manage their waste perfectly.</p>
            </li>
            <li>
              <h3 class="home__h3">Being a motivation source</h3>
              <p>It is important to motivate everyone in their journey towards zero waste. We want to highlight the community, track the real impact of each individual and all Way To Zero users. In addition, we are confident that technology and gamification can provide a lot of motivation for the ecological challenge.</p>
            </li>
            <li>
              <h3 class="home__h3">Saving time</h3>
              <p>By offering structured and centralized information as well as by giving adapted and tailor-made challenges according to each person's situation, we aim to save everyone time in their transition to zero waste.</p>
            </li>
          </ul>
          <div class="mail-form-container">
            <div class="mail-form" id="button3">
              <form class="singular-form">

                <button class="shown trigger" type="button">Stop scrolling, start acting !</button>

                <div class="input-container">
                    <input type="email" value="" name="EMAIL" placeholder="Enter your best email address" required>
                    <button type="button">Show your interest</button>
                </div>

                <div class="success">Thank you!</div>

              </form>
            </div>
            <div class="email-warner">
                <p></p>
            </div>
          </div>
        </div>
        <%=image_tag("PhoneWayToZero.png", :class=>"home__img__item")  %>
      </div>
    </div>
  </div>
</div>
