<div class="bg--gradient">
  <div class="hero hero--full hero--bg--img">
    <div class="hero__wrapper">
      <div class="hero__text">
        <h1 class="hero__title"><%= t('home.main_title_part1') %><%= " " %><span class="underlined"><%= t('home.main_title_part2') %><%= " " %></span><%= t('home.main_title_part3') %></h1>
        <div class="hero__subtext">
          <div class="hero__p">
            <p><%= t('home.company_mission') %></p>
            <div class="mail-form-container">
              <div class="mail-form sfcontainer1">
                <form class="singular-form sfform1" action="https://waytozero.us4.list-manage.com/subscribe/post?u=82e07f35094db3ac030eaec10&amp;id=f4c26eaa14" method="POST">

                  <button class="shown trigger sftrigger1" type="button"><%= t('home.make_project_reality') %></button>
                  <div class="input-container">
                      <input type="email" class="placeholder sfinput1"value="" name="EMAIL" placeholder="Enter your best email address" required>
                      <button type="button"class="email-button sfsubmit1"><%= t('home.show_interest') %></button>
                  </div>
                  <div class="success sfsuccess1"><%= t('home.thank_you') %></div>
                </form>
              </div>
              <div class="email-warner sfemailwarner1">
                  <p></p>
              </div>
            </div>
          </div>
          <%= image_tag("waste.png") %>
        </div>
      </div>
      <svg class="hero__curve" viewBox="0 0 1620 228" xmlns="http://www.w3.org/2000/svg">
          <path d="m1619.44517.35433528c-399.39777 223.02017072-694.714626 278.49386172-885.950558 166.42107172-181.341926-106.2744605-391.865473-161.74815116-631.57064-166.42107177h-101.923972v227.64566477h1620v-227.64566477h-.5547z"></path>
      </svg>
    </div>
  </div>
</div>
<div class="concepts">
  <div class="concept">
    <%= image_tag("superwoman.png", :class=>'concept-icon') %>
    <p><%= t('home.take_on') %></p>
  </div>
  <div class="separator"></div>
  <div class="concept">
    <%= image_tag("fatherhood.png", :class=>'concept-icon') %>
    <p><%= t('home.change_lifestyle') %></p>
  </div>
  <div class="separator"></div>
  <div class="concept">
    <%= image_tag("excalibur.png", :class=>'concept-icon') %>
    <p><%= t('home.give_best') %></p>
  </div>
</div>
<div class="bg--white">
  <div class="hero__wrapper">
    <div class="home__text__container" style="margin-top:50px">
      <h2 class="home__h2"><%= t('home.concept') %></h2>
      <div class="home__text__sub__container" id="container1">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
          <lottie-player
              src="https://assets5.lottiefiles.com/packages/lf20_h9fcK1.json"  background="transparent"  class="home__svg__item" speed="1" loop  autoplay >
          </lottie-player>
        <div class="home__text__item">
          <ul>
            <li>
              <h3 class="home__h3"><%= t('home.become_driver') %></h3>
              <p><%= t('home.become_driver_description') %></p>
            </li>
            <li>
              <h3 class="home__h3"><%= t('home.improve_waste_mgt') %></h3>
              <p><%= t('home.improve_waste_mgt_description') %></p>
            </li>
            <li>
              <h3 class="home__h3"><%= t('home.motivate_gamification') %></h3>
              <p><%= t('home.motivate_gamification_description') %></p>
            </li>
          </ul>
          <div class="mail-form-container">
            <div class="mail-form sfcontainer2" id="button2">
              <form class="singular-form sfform2" action="https://waytozero.us4.list-manage.com/subscribe/post?u=82e07f35094db3ac030eaec10&amp;id=f4c26eaa14" method="POST">

                <button class="shown trigger sftrigger2" type="button"><%= t('home.make_project_reality') %></button>

                <div class="input-container">
                    <input type="email" class="placeholder sfinput2" value="" name="EMAIL" placeholder="Enter your best email address" required>
                    <button type="button" class="sfsubmit2"><%= t('home.show_interest') %></button>
                </div>

                <div class="success sfsuccess2"><%= t('home.thank_you') %></div>

              </form>
            </div>
            <div class="email-warner sfemailwarner2">
                <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero__wrapper">
    <div class="home__text__container">
      <h2 class="home__h2"><%= t('home.mission') %></h2>
      <div class="home__text__sub__container" id="container2">
        <div class="home__text__item">
          <ul>
            <li>
              <h3 class="home__h3"><%= t('home.transition_to_action') %></h3>
              <p><%= t('home.transition_to_action_description') %></p>
            </li>
            <li>
              <h3 class="home__h3"><%= t('home.motivation_source') %></h3>
              <p><%= t('home.motivation_source_description') %></p>
            </li>
            <li>
              <h3 class="home__h3"><%= t('home.saving_time') %></h3>
              <p><%= t('home.saving_time_description') %></p>
            </li>
          </ul>
          <div class="mail-form-container">
            <div class="mail-form sfcontainer3" id="button3">
              <form class="singular-form sfform3" action="https://waytozero.us4.list-manage.com/subscribe/post?u=82e07f35094db3ac030eaec10&amp;id=f4c26eaa14" method="POST">

                <button class="shown trigger sftrigger3" type="button"><%= t('home.stop_scrolling') %></button>

                <div class="input-container">
                    <input type="email" value="" class="placeholder sfinput3"name="EMAIL" placeholder="Enter your best email address" required>
                    <button type="button" class="trigger sfsubmit3"><%= t('home.show_interest') %></button>
                </div>

                <div class="success sfsuccess3"><%= t('home.thank_you') %></div>

              </form>
            </div>
            <div class="email-warner sfemailwarner3">
                <p></p>
            </div>
          </div>
        </div>
        <%=image_tag("PhoneWayToZero.png", :class=>"home__img__item")  %>
      </div>
    </div>
  </div>
</div>
