<h1 style="text-align: center">Your journal</h3>

<div class="timeline">
    <div class="timeline__wrap">
        <div class="timeline__items">
          <% weeks = (30..Date.today.cweek).to_a.reverse %>
          <% weeks.each do |week|%>
          <div class="timeline__item">
                <div class="timeline__content">
                  <p style="font-weight: bold"> Week number <%= week %> </p>
                  <% if @challenges.where(week: week).any? %>
                    <h3><%= 'Challenges done' %></h3>
                    <% @challenges.where(week: week).each do |challenge| %>
                      <p> <%= challenge.challenge.name %> </p>
                    <% end %>
                  <% end %>
                  <% if @successes.where(week: week).any? %>
                    <h3><%= 'Achievements done' %></h3>
                    <% @successes.where(week: week).each do |success| %>
                      <div class="success-journal" style="text-align:center;"> <%= cl_image_tag success.achievement.photo, height: 100, width: 100, crop: :fill %> </div>
                    <% end %>
                  <% end %>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>



