<%= link_to "Go back to all challenges categories", categories_path %>

<div class="col-12">
  <div class="col-9">
    <div class="card card-challenge-show d-flex justify-content-center">
      <h1><%= @category.name %> related challenges</h1>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="col-9">
    <% if @small_challenges_displayed.empty? %>
      <div class="card card-challenge-show">
        <p><%= "Sorry there is no more small challenges in that category, but feel free to suggest us any challenges" %></p>
      </div>
    <% else %>
      <% @small_challenges_displayed.each do |small_challenge| %>
        <div class="card card-challenge-show">
          <p><%= small_challenge.name %></p>
          <p><%= small_challenge.short_description %></p>
          <p><img src=<%="https://source.unsplash.com/200x200/?#{small_challenge.name}"%> alt=""></p>
          <p><%= link_to "See the full description", challenge_path(small_challenge), class: "btn button-index" %></p>
          <p><%= link_to "ADD to my weekly challenges", weekly_challenges_path(small_challenge), method: :post, class: "btn button-index" %></p>
          <p><%= link_to "Mark as already done", weekly_challenges_path(small_challenge, done: "true"), method: :post,  class: "btn button-index"%></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



