<h2> <%= @category.name %> small challenges (big ones are only sent once a week)</h2>

<% @small_challenges.each do |small_challenge| %>
<br>
<%= small_challenge.name %>
<%= link_to "see more", challenge_path(small_challenge) %>
<br>
<%= link_to "add this challenge to my weekly challenges", weekly_challenges_path(small_challenge), method: :post %>
<br>
<%= link_to "mark as already done (add to my weekly challenges and mark it as done)", weekly_challenges_path(small_challenge) %>
<% end %>



