  <div class="container">
      <h2 class="to_change_h2" style="text-align: center"><%= @category.name %> related challenges</h2>
  <div class="mt-5">
    <% if @small_challenges_displayed.empty? %>
      <div class="card-challenge-index">
        <p><%= "Sorry there is no more small challenges in that category, but feel free to suggest us any challenges" %></p>
      </div>
    <% else %>
      <% @small_challenges_displayed.each do |small_challenge| %>
        <div class="card-challenge-index">
            <div class="placeholder"></div>
            <div class="card-text">
            <p><%= small_challenge.name %></p>
            <p> <small> <%= small_challenge.short_description %> </small> </p>
            <%= link_to "See full description", challenge_path(small_challenge) %>
            </div>
          <div class="card-actions">
            <p><%= link_to "Add to challenges", weekly_challenges_path(small_challenge), method: :post, class: "btn mark-as-done-btn" %></p>
            <p><%= link_to "Mark as done", weekly_challenges_path(small_challenge, done: "true"), method: :post,  class: "btn mark-as-done-btn"%></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



