<div class="col-12">
  <p><%= link_to "Back to the category", category_challenges_path(@challenge.category) %></p>
  <div class="d-flex">
    <div class="col-7">
      <div class="card card-challenge-show">
        <h1><%= @challenge.name %></h1>
        <h2>Save up to <%= @challenge.plastic %> kg of plastic !</h2>
        <%= cl_image_tag @challenge.photo, crop: :cover %>
        <br>
        <p><%= @challenge.description.html_safe %></p>
      </div>
    </div>
    <div class="col-5">
      <div class="card card-challenge-show-map">
        <% if @challenge.video_link %>
          <h2>How to achieve it on your own</h2>
          <%= @challenge.video_link.html_safe %>
        <% else %>
          <%= "There is no video yet for this challenge" %>
        <% end %>
        <br>
        <% unless @markers.nil? %>
          <h2>How to achieve it with a little help from our partners</h2>
          <div
            id="map"
            style="width: 100%;
            height: 300px;"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
        <% end %>
        <br>
        <p><%= link_to "Add to my weekly challenges", weekly_challenges_path(@challenge), method: :post, class: "btn mark-as-done-btn" %></p>
        <p><%= link_to "Mark as already done", weekly_challenges_path(@small_challenge, done: "true"), method: :post,  class: "btn mark-as-done-btn"%></p>
        <p><%= link_to "Back to dashboard", dashboard_path %></p>
      </div>
    </div>
  </div>
</div>
